// file: style.scss
// purpose: try out flexbox
// more: @url https://css-tricks.com/snippets/css/a-guide-to-flexbox/

/**
 * PREFIXES
 * @URL: http://shouldiprefix.com/#flexbox
 *
 *  --> Mixins
 **/
@mixin container-prefix() {
  display: -webkit-box;  // OLD - iOS 6-, Safari 3.1-6, BB7
  display: -ms-flexbox;  // TWEENER - IE 10
  display: -webkit-flex; // NEW - Safari 6.1+. iOS 7.1+, BB10
  display: flex;         // NEW, Spec - Firefox, Chrome, Opera
}

//$theWidth: 20%; // set to something appropriate 

@mixin item-prefix( $theWidth ) {
  -webkit-box-flex: 1;   // OLD - iOS 6-, Safari 3.1-6
  width: $theWidth;      // For old syntax, otherwise collapses.
  -webkit-flex: 1;       // Safari 6.1+. iOS 7.1+, BB10
  -ms-flex: 1;           // IE 10
  flex: 1;               // NEW, Spec - Firefox, Chrome, Opera
}


/**
 * Variables
 **/
$padding: 1.345rem;


/**
 * Meyer Reset
 **/
@import '../bower_components/meyer-reset/_meyer-reset.scss';


/**
 * Prefixes
 * see @url: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 **/


/**
 * HeadFoot
 **/
header, footer {
	color: #fff;
	background: purple;
}


/**
 * Fonts
 **/
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.12rem;
	}

article, aside {
	padding: $padding;
}

header, footer {
	padding: $padding + 2rem;
	font-weight: bolder;
	text-align: center;
	font-size: large;
	
	a {
		color: #fff;	
	}
	
	a:hover {
		color: yellow;	
	}
}

h1, h2 {
	font-size: 2.3rem;
}

h3, h4, h5 {
	margin-top: $padding;
	font-size: 1.4rem;
	margin-bottom: $padding;
}

	/* ul flex ( container ) */
	ul {
					
		@include container-prefix;		
		
		list-style-type: none;
		background-color: purple;
		align-items: stretch;
		align-content: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: row;
		
			// ( items )
			li {
				@include item-prefix( '50px' );
				background-color: pink;
				width: 133px;
				height: auto;
				flex: 0 1 auto;
				text-align: center;
				
						
			}
			
			li:hover {
				background: yellow;
				}

	}


/**
 * Flexbox Media Queries
 **/

// mobile devices
@media (max-width: 400px) {

	// the children will inherit this:
	#wrap {
				
		@include container-prefix;
		
		flex: 0 1 100%; // shorthand
		font-size: large;
		
	}

} // max-width 699

 
// tablets and up
@media (min-width: 850px){

	#wrap {
						
		@include container-prefix;
		
			article {
				flex: 2;		
			}
			
			aside {
				flex: 1;		
			}
		
	}
}


