// file: style.scss
// purpose: try out flexbox
// more: @url https://css-tricks.com/snippets/css/a-guide-to-flexbox/

$padding: 1.345rem;

/**
 * Meyer Reset
 **/
@import '../bower_components/meyer-reset/_meyer-reset.scss';


/**
 * Prefixes
 * see @url: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 **/


/**
 * HeadFoot
 **/
header, footer {
	color: #fff;
	background: purple;
}


/**
 * Flexbox
 **/

// mobile devices
@media (max-width: 320px) {

	// the children will inherit this:
	#wrap {
		flex: 0 1 100%;
		font-size: large;
	}

} // max-width 699

 
// tablets and up
@media (min-width: 850px){

	#wrap {
		
		// ( container )
		display: flex;
		
			// ( items )
			main {
				flex: 3;		
			}
			
			aside {
				flex: 1;		
			}
		
	}
}


/**
 * Fonts
 **/
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.12rem;
	}

article, aside {
	padding: $padding;
}

header, footer {
	padding: $padding + 2rem;
	font-weight: bolder;
	text-align: center;
	font-size: large;
	
	a {
		color: #fff;	
	}
	
	a:hover {
		color: yellow;	
	}
}

h1, h2 {
	font-size: 2.3rem;
}

h3, h4, h5 {
	margin-top: $padding;
	font-size: 1.4rem;
	margin-bottom: $padding;
}

	/* ul flex ( container ) */
	ul {
		// ( container )
		display: flex;
		list-style-type: none;
		background-color: purple;
		align-items: stretch;
		align-content: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: row;
		
			// ( items )
			li {
				background-color: pink;
				width: 133px;
				height: auto;
				flex: 0 1 auto;
				text-align: center;
				
						
			}
			
			li:hover {
				background: yellow;
				}

	}